.card {
  .card-body {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 2rem 1.5rem;
    }
  }

  .card-subtitle {
    p {
      margin: 0 !important;
    }
  }

  .atr-card-description {
    p {
      margin: 0 !important;
    }
  }

  .atr-card-content {
    p:last-child {
      margin: 0 !important;
    }
  }

  &.atr-card-page {
    .card-body,
    .card-footer {
      @include media-breakpoint-up(lg) {
        padding: 2rem;
      }
    }
  }
}

#abovetherain-cms__index {
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 80px;

    @include media-breakpoint-up(lg) {
      width: 960px;
      padding-top: 0;
      top: auto;
      bottom: 10vw;
      transform: translateX(-50%) translateY(0);
    }

    @include media-breakpoint-up(xl) {
      width: 1140px;
    }

    .atr-slogan {
      font-family: 'hercules_modern', serif;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(24px + 3vw);
      margin: 0;
      line-height: 1;

      > div {
        display: block;
        overflow: hidden;

        > * {
          margin: 0;
          display: inline-block;
          animation-fill-mode: forwards;
          transform: translateY(100%);
        }

        &:last-child > * {
          animation-delay: 0.2s;
        }
      }

      @media screen and (min-width: 2000px) {
        font-size: 70px;
      }

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }
}

#abovetherain-cms__schedule {
  table {
    table-layout: fixed;

    thead th:first-child {
      width: 7%;
    }

    tbody {
      tr {
        td {
          a {
            @include media-breakpoint-down(lg) {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

#abovetherain-cms__services,
#abovetherain-cms__gallery {
  .card {
    .card-footer {
      a {
        @include media-breakpoint-down(lg) {
          text-decoration: underline;
        }
      }
    }
  }
}

#abovetherain-cms__coaches {
  .card {
    padding: 0.25rem;

    > div:first-child {
      position: relative;
      overflow: hidden;
    }

    .card-img-overlay {
      li {
        a {
          @include media-breakpoint-down(lg) {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

#abovetherain-cms__gallery {
  .card-columns {
    column-count: 1;

    @include media-breakpoint-up(sm) {
      column-count: 2;
    }

    @include media-breakpoint-up(md) {
      column-count: 3;
    }

    @include media-breakpoint-up(lg) {
      column-count: 4;
    }
  }
}
