#abovetherain-cms__index {
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 80px;

    @include media-breakpoint-up(lg) {
      width: 960px;
      padding-top: 0;
      top: auto;
      bottom: 10vw;
      transform: translateX(-50%) translateY(0);
    }

    @include media-breakpoint-up(xl) {
      width: 1140px;
    }

    .atr-slogan {
      font-family: 'hercules_modern', serif;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(24px + 3vw);
      margin: 0;
      line-height: 1;

      > div {
        display: block;
        overflow: hidden;

        > * {
          display: inline-block;

          @include media-breakpoint-up(lg) {
            animation-fill-mode: forwards;
            transform: translateY(100%);
          }
        }

        &:last-child > * {
          animation-delay: 0.2s;
        }
      }

      @media screen and (min-width: 2000px) {
        font-size: 70px;
      }

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }
}

#abovetherain-cms__coaches {
  .card {
    padding: 0.25rem;

    > div:first-child {
      position: relative;
      overflow: hidden;
    }
  }
}

#abovetherain-cms__schedule {
  table {
    table-layout: fixed;

    thead th:first-child {
      width: 7%;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
