#abovetherain-cms__header {
  .navbar {
    z-index: 1030;
  }

  nav {
    @include media-breakpoint-up(lg) {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .navbar-brand {
      img {
        min-height: 48px;
        height: 3rem;
        min-width: 48px;
        width: 3rem;

        @include media-breakpoint-up(lg) {
          min-height: 96px;
          height: 6rem;
          min-width: 96px;
          width: 6rem;
        }
      }
    }

    .nav-link {
      letter-spacing: 1px;

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
        color: $white;
        position: relative;

        &:not(.dropdown-toggle):hover::after,
        &:not(.dropdown-toggle):focus::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0;
          left: 0;
          bottom: 2px;
          border-bottom: 2px solid $white;
        }
      }
    }

    .nav-item.active .nav-link::after {
      @include media-breakpoint-up(lg) {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 2px;
        border-bottom: 2px solid $white;
      }
    }

    .dropdown-item {
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.5);

      @include media-breakpoint-up(lg) {
        position: relative;
        color: #212529;

        &:hover::after,
        &:focus::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0;
          left: 0;
          bottom: 2px;
          border-bottom: 2px solid;
        }
      }

      &.active,
      &:active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}
