body, html {
  font-family: "Fira Sans", sans-serif;
}

.navbar .navbar-nav > li > a {
  text-transform: none;
}

.app-container .side-body .container-fluid {
  padding-right: 15px;
}

.page-content .settings {
  padding-right: 0;
}

.tab-content > div {
  padding: 10px 15px;
}

.voyager .settings .nav-tabs a {
  left: -1px;
}