body,
html {
  font-family: 'Fira Sans', sans-serif;
}

.navbar .navbar-nav > li > a {
  text-transform: none;
}

.app-container .side-body .container-fluid {
  padding-right: 15px;
}

.page-content .settings {
  padding-right: 0;
}

.tab-content > div {
  padding: 10px 15px;
}

.voyager .settings .nav-tabs a {
  left: -1px;
}

.mce-branding {
  display: none !important;
}

.atr-radio-btn-field {
  display: flex !important;
  flex-flow: row wrap;
  border: 1px solid #e4eaec;
  border-radius: 3px;
  background-color: #fff;

  li {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
    width: 200px !important;
    background-color: transparent;
    color: #fff !important;

    label {
      margin-left: 40px !important;
      padding-left: 1rem !important;
      flex: 1 1 auto;
      font-weight: 700;
      font-size: 1.2rem !important;
    }

    &:focus label.no-hover,
    &:hover label.no-hover {
      color: inherit !important;
    }
  }
}

input[type=radio]:checked ~ label {
  color: inherit !important;
}

.badge-primary {
  color: #fff !important;
}

.badge-secondary {
  color: #fff !important;
  background-color: #6c757d;
}

.badge-light {
  background-color: #f8f9fa;
}

li.badge-light,
li.badge-beige {
  color: #333 !important;
}

.badge-beige {
  background-color: #e9e9d3;
}

.badge-caribbean_green {
  color: #fff !important;
  background-color: #00be9f;
}

.badge-rhino {
  color: #fff;
  background-color: #454d55;
}

@import 'browse';
